services:
  proxy:
    image: $USER/csc2fa-proxy
    build: .
    init: true
    restart: 'no'
    cap_add:
      - NET_ADMIN
      - SYS_ADMIN
    ports:
      - 5980:5980  # novpn
      - 8118:8118  # privoxy
    volumes:
      - ${SSH_AUTH_SOCK:-/dev/null}:/ssh_agent.sock
    # Variables defined in the `environment` section override ones defined in proxy.env.
    environment:
      TZ: Asia/Tokyo
      SSH_AUTH_SOCK: /ssh_agent.sock
      # Enabling logging.
      #CSC_LOGGING_OUTPUT: STDOUT
    # Optional
    env_file:
      - path: ./proxy.env
        required: false
    secrets:
      - server-name
      - server-ip
      - username
      - password

secrets:
  server-name:
    file: ./server_name.txt
  server-ip:
    file: ./server_ip.txt
  username:
    file: ./username.txt
  password:
    file: ./password.txt
